<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
</head>
<body>
    <h2>Redefinir Senha</h2> 
    <form method="post" action="{% url 'redefinir_senha' token %}">
        {% csrf_token %}
        <div>
            <label for="nova_senha">Nova Senha:</label>
            <input type="password" name="nova_senha" id="nova_senha" required>
        </div>
        <div>
            <label for="confirmar_senha">Confirmar Nova Senha:</label>
            <input type="password" name="confirmar_senha" id="confirmar_senha" required>
        </div> 
        <button type="submit">Redefinir Senha</button>
        {% if messages %}
        <div>
            {% for message in messages %}
                <p style="color: white;">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    </form>
</body>
</html>
