/* Reset de estilos padrão do navegador para garantir consistência */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos gerais para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #438086;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 950px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
    height: auto;
}
/* Estilo para o container principal do perfil */
.profile-container {
    display: flex;
    align-items: center; 
}

/* Estilo para o container principal do perfil 
.profile-container {
    max-width: 600px;
    max-height: 1000px;
    margin: 0 auto;
    padding: 30px;
    border: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-left: center;
    display: flex;
    align-items: center;
}*/

.btn-editar{
    display: flex;
    flex-direction: column; /* Define a orientação dos itens para vertical */
    align-items: center;
    margin-left: 500px;
    margin-bottom: 50px;
}

.btn {
    margin-bottom: 10px; /* Adiciona um espaço entre os botões */
}

.profile-user-name{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.editarInfo, #editarPerfilBtn{
    display: flex;
    align-items: center;
}

/* Estilo para o avatar */
.avatar-container {
    margin-right: 10px;
    margin-left: 30px;
}

.avatar {
    max-width: 200px;
    max-height: 180px;
    border-radius: 80%;
}

.no-photo {
    width: 100px;
    height: 100px;
    background-color: #8a8787; /* Cor de fundo para usuários sem foto */
    border-radius: 50%;
}

/* Estilo para o nome de usuário e bio 
.profile-user-name {
    margin-top: auto;
}*/

/* Estilo para os botões de edição de perfil */
#editarPerfilBtn, .btn-like, .btn-excluir, .btn-primary, .editar-btn {
    background-color: #4ab3c6;
    color: #fff;
    border: none;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
}


#editarPerfilBtn:hover, .btn-like:hover, .btn-excluir:hover, .btn-primary:hover {
    background-color: #3498db;
}

/* Estilo para a seção de configurações do usuário */
.profile-user-settings {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Estilo para os botões de alternar entre posts e galeria */
#mostrarGaleriaBtn, #mostrarPostsBtn {
    color: #4ab3c6;
    background-color: #fff;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
    align-items: center;
    margin-left: 40px;
    font-size: 20px;
}





.btn-pg{
    border-top-style: solid;
    border-top-color: #f0f0f05d;
    border-bottom-color: #f0f0f05d;
    border-top-width: 1px;
    justify-content: space-around;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #4ab3c6;
}

/*#mostrarPostsBtn:hover, #mostrarGaleriaBtn:hover {
    background-color: #4ab3c6;
}*/

/* Estilo para a galeria de fotos */
.galeria-container, .imagem-galeria, .interage-ft {
    display: flex;
    align-items: center;
    /*grid-template-columns: repeat(3, 1fr); /* 3 colunas 
    gap: 2px;  Espaçamento entre as imagens */
}

.imagem-galeria {
    position: relative;
    overflow: hidden;
}

.imagem-galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#ed-btn{
    font-size: 15px; 
    padding:11px; 
    color: #fff; 
}
.a{
    color:#fff;
}

.like-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

/* Estilo para os containers de posts */
.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.post {
    max-width: 200px; /* Defina o valor desejado */
    max-height: 200px; /* Defina o valor desejado */
    width: auto;
    height: auto;
    object-fit: cover; /* Isso garante que a imagem mantenha sua proporção, mas preencha o contêiner */
}

.post img {
    max-width: 300px; /* Defina o valor desejado */
    max-height: 300px; /* Defina o valor desejado */
    width: auto;
    height: auto;
    object-fit: cover; /* Isso garante que a imagem mantenha sua proporção, mas preencha o contêiner */
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}