body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 20px;
}



.galeria-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaçamento entre as imagens */
}

.imagem-galeria {
    width: 100%; /* Garante que a imagem ocupe toda a largura da célula do grid */
    height: auto; /* Altura automática para manter a proporção */
}

.imagem-galeria img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do contêiner */
    width: 250px; /* Define a largura da imagem como automática para manter a proporção */
    height: 250px; /* Define a altura da imagem como automática para manter a proporção */
    object-fit: cover; /* Garante que a imagem mantenha sua proporção, cortando o excesso se necessário */
}


.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid #3498db;  
    color: #3498db;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #3498db;
    color: #fff;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bio {
    font-size: 16px;
    margin-bottom: 20px;
}

.additional-info {
    font-size: 14px;
    color: #555;
}
