{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" type="text/css" href="{% static 'meu_app/styles_criarconta.css' %}">
</head>
<body class="signup-body">

    <div class="signup-container">
        <img src="{% static 'meu_app/instagram-logo.png' %}" alt="Fast Post" class="fast-logo">

        <form method="post" action="{% url 'criar_conta' %}" class="signup-form">
            {% csrf_token %}

            <div class="form-group">
                {{ form.username.label_tag }} {{ form.username }}
            </div>

            <div class="form-group">
                {{ form.password1.label_tag }} {{ form.password1 }}
            </div>

            <div class="form-group">
                {{ form.password2.label_tag }} {{ form.password2 }}
            </div>

            <div class="form-group">
                {{ form.email.label_tag }} {{ form.email }}
            </div>

            <div class="form-group">
                {{ form.name.label_tag }} {{ form.name }}
            </div>

            <button type="submit" class="btn-primary">Criar Conta</button>
        </form>

        <p class="login-link">Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>