<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    {% csrf_token %}
    <p>Bem-vindo, {{ usuario.username }}!</p>

    <a href="{% url 'perfil' username=request.user.username %}">Perfil</a>
    <a href="{% url 'logout' %}">sair</a>
    
    <div>
        <form method="get" action="{% url 'dashboard' %}">
            {% csrf_token %}
            <input type="text" name="q" placeholder="Pesquisar">
            <button type="submit">Buscar</button>
        </form>
    </div>

    {% if results %}
        <div>
            {% for result in results %}
                <li><a href="{% url 'perfil' username=result.username %}">{{ result.username }}</a></li>
            {% endfor %}
        </div>
    {% endif %}

    
    
    {% for post in postagens %}
        {% if post.photo and post.photo.image and post.user != request.user %}
            <img src="{{ post.photo.image.url }}" alt="User Photo">
        {% endif %}
    {% endfor %}
   
</body>
</html>
