{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'meu_app/styles_login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="content">
            <div id="login">
                <form method="post" action="{% url 'login' %}" class="login-form">
                    {% csrf_token %}
                    <h2>Login</h2>

                    <label for="username">Usuário:</label>
                    <p>
                        <input type="text" id="username" name="username" required>
                    </p>
                    
                    <label for="password">Senha:</label>
                    <p>
                        <input type="password" id="password" name="password" required>
                    </p>
                        
                    <p>
                        <input type="submit" value="Entrar" />
                    </p>
                </form>

                <p class="signup-link">Não tem uma conta? <a href="{% url 'criar_conta' %}">Criar conta</a></p>
                
                <p class="forgot-password-link"><a href="{% url 'iniciar_redefinir_senha' %}"> Esqueceu sua senha?</a></p>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
    </div>
</body>
</html>
