{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil | @{{ usuario.username }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'meu_app/styles_perfil.css' %}">

    
</head>
<body>
    <div class="profile-container" style="display: flex; align-items: center;">
        <div class="avatar-container">
            {% if usuario.photo %}
                <img class="avatar" src="{{ usuario.photo.url }}" alt="Avatar" style="margin-right: 10px;">
            {% else %}
                <div class="avatar no-photo"></div>
            {% endif %}
        </div>

        <div id="botoesEditarPerfil" style="display: none;">
            {% if usuario == request.user %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.photo }}
                    <button class="btn btn-primary" type="submit">Atualizar Foto</button>
                </form>
            {% endif %}
        </div>

        <div class="profile-user-name">
            {% if usuario.nome %}
                <h2 class="profile-user-name">{{ usuario.nome }}</h2>
            {% endif %}
            <h5 style="font-size: 15px;" class="profile-user-name">@{{usuario.username}}</h5>

            <div class="profile-bio" style="margin-top:auto">
                {% if usuario.bio %}
                    <p><span class="profile-real-name"></span>◉ {{usuario.bio}}</p>
                {% endif %}
            </div>

            <div style="display: flex; justify-content: center; margin-bottom: 10px;">
                <div id="editarPerfilBtn" {% if usuario == request.user %} onclick="mostrarBotoes()" {% endif %}>
                    {% if usuario == request.user %}
                        <button class="btn btn-primary" type="submit" style="font-size: 15px;">Editar Foto de Perfil</button>
                    {% endif %}
                </div>
                <div style="margin-left: 10px; margin-top: 10px;">
                    {% if usuario == request.user %}
                        <a style="text-decoration: none; width:35%;" href="{% url 'editar_info' %}" class="btn btn-primary">Editar informações</a>
                    {% endif %}
                </div>
            </div>

            <br>
        </div>
    </div><br>

    <div class="profile-user-settings" style="margin-left: 600px">
        <button class="btn btn-primary" id="mostrarPostsBtn" onclick="mostrarPosts()">Posts</button>
        {% if usuario == request.user %}
            <button class="btn btn-primary" id="mostrarGaleriaBtn" onclick="mostrarGaleria()">Galeria</button>
        {% endif %}
    </div>

    <form id="formGaleria" method="post" enctype="multipart/form-data" style="display: none;">
        {% csrf_token %}
        {{ photo_form.image }}
        {% if usuario == request.user %}
            <p><button type="submit">Adicionar foto na Galeria</button></p>
        {% endif %}
    </form>

    <div class="galeria-container" id="galeria">
    {% for photo in photos %}
        {% if photo.image %}
            <div class="imagem-galeria">
                <a href="{% url 'postar_foto' photo.id %}">
                    <img src="{{ photo.image.url }}" alt="Photo">
                </a>
                <div class="like-container">
                    <button class="btn-like" onclick="likePhoto({{ photo.id }})">Like</button>
                    <span id="likes-count-{{ photo.id }}">0 likes</span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

    <br>
    <div class="posts-container" id="posts" style="display: none; display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
        {% for post in posts %}
            <div class="post" style="width: 100%; height: auto;">
                {% if post.photo.image %}
                    <img src="{{ post.photo.image.url }}" alt="Photo">
                    <p>{{ post.conteudo }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <form id="formPostagem" method="post" enctype="multipart/form-data" style="display: none;">
        {% csrf_token %}
        {{ post_form.image }}
        {{ post_form.conteudo }} <!-- descricao da imagem que o usuario preenche -->
        <button class="btn btn-primary" type="submit">Postar Foto</button>
    </form>

    <script>
        // Dicionário para manter o controle de quais fotos cada usuário curtiu
        var likes = {};

        function likePhoto(photoId) {
            // Verifica se o usuário já deu like nesta foto
            if (likes[photoId]) {
                // Se sim, remove o like
                delete likes[photoId];
            } else {
                // Se não, adiciona o like
                likes[photoId] = true;
            }

            // Atualiza a contagem de likes na interface do usuário
            updateLikesCount(photoId);
        }

        function updateLikesCount(photoId) {
            // Obtém o elemento que exibe a contagem de likes
            var likesCountElement = document.getElementById('likes-count-' + photoId);

            // Obtém o número atual de likes
            var likesCount = Object.keys(likes).length;

            // Atualiza o texto para refletir o número atual de likes
            likesCountElement.innerText = likesCount + (likesCount === 1 ? ' like' : ' likes');
        }

        // botão de carregar foto
        document.getElementById('carregar-foto-btn').addEventListener('click', function() {
            document.querySelector('form').style.display = 'block';
        });
        // botão de editar informações
        document.getElementById('editar-informacoes').addEventListener('click', function() {
            document.getElementById('form-editar-informacoes').style.display = 'block';
            this.style.display = 'none';
        });
        // botao para trocar a foto de perfil
        function mostrarBotoes() {
            var botoesEditarPerfil = document.getElementById('botoesEditarPerfil');
            if (botoesEditarPerfil.style.display === 'none' || botoesEditarPerfil.style.display === '') {
                botoesEditarPerfil.style.display = 'block';
            } else {
                botoesEditarPerfil.style.display = 'none';
            }
        }

        function mostrarGaleria() {
            var galeria = document.getElementById('galeria');
            var formGaleria = document.getElementById('formGaleria');

            if (galeria.style.display === 'none' || galeria.style.display === '') {
                galeria.style.display = 'block';
                formGaleria.style.display = 'block';
            } else {
                galeria.style.display = 'none';
                formGaleria.style.display = 'none';
            }
        }

        function postarFoto() {
            var formPostagem = document.getElementById('formPostagem');
            var galeria = document.getElementById('galeria');

            if (formPostagem.style.display === 'none' || formPostagem.style.display === '') {
                formPostagem.style.display = 'block';
                mostrarFotosGaleria();
            } else {
                formPostagem.style.display = 'none';
            }
        }

        function mostrarFotosGaleria() {
            var galeria = document.getElementById('galeria');
            var photos = galeria.getElementsByTagName('img');
            var formPostagem = document.getElementById('formPostagem');

            for (var i = 0; i < photos.length; i++) {
                photos[i].addEventListener('click', function() {
                    document.getElementById('chosenPhotoInput').value = this.src;
                    alert('Foto escolhida: ' + this.src);
                    formPostagem.style.display = 'block';
                });
            }
            if (photos.length === 0) {
                formPostagem.style.display = 'none';
            }
        }

        function mostrarPosts() {
            var postsContainer = document.getElementById('posts');
            var galeria = document.getElementById('galeria');
            var formGaleria = document.getElementById('formGaleria');

            if (postsContainer.style.display === 'none' || postsContainer.style.display === '') {
                postsContainer.style.display = 'block';
                galeria.style.display = 'block';
                formGaleria.style.display = 'block';
            } else {
                postsContainer.style.display = 'block';
            }
        }
    </script>
</body>
</html>
