{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'meu_app/styles_perfil.css' %}">
</head>
<body>
    <div class="profile-container">
        {% if usuario.photo %}
            <img class="avatar" src="{{ usuario.photo.url }}" alt="Avatar">
        {% else %}
            <div class="avatar no-photo"></div>
        {% endif %}
        
        <!-- Formulário de carregar foto -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar Foto</button>
        </form>
        
        <div class="upload-btn-wrapper">
            <button class="btn" id="carregar-foto-btn">Carregar Foto</button>
        </div>
        
        <div class="username">{{ usuario.username }}</div>
        <p class="bio">{{ usuario.bio }}</p>
        <div class="additional-info">
            <p>Email: {{ usuario.email }}</p>
            <!-- Adicione outras informações que desejar mostrar -->
        </div>
        
        <button class="btn" id="editar-informacoes">Editar Informações</button>

        <!-- Restante do seu código... -->
    </div>

    <script>
        // Adiciona um ouvinte de evento ao botão de carregar foto
        document.getElementById('carregar-foto-btn').addEventListener('click', function() {
            document.querySelector('form').style.display = 'block';
        });

        // Adiciona um ouvinte de evento ao botão de editar informações
        document.getElementById('editar-informacoes').addEventListener('click', function() {
            document.getElementById('form-editar-informacoes').style.display = 'block';
            this.style.display = 'none';
        });
    </script>
</body>
</html>
