{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'meu_app/styles_perfil.css' %}">
</head>
<body>
    <div class="profile-container">
        {% if usuario.photo %}
            <img class="avatar" src="{{ usuario.photo.url }}" alt="Avatar">
        {% else %}
            <div class="avatar no-photo"></div>
        {% endif %}

        <div id="editarPerfilBtn" onclick="mostrarBotoes()">Editar Perfil</div>

        <div id="botoesEditarPerfil" style="display: none;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.photo }}
                <button type="submit">Atualizar Foto</button>
            </form>
        </div>
        
        <div class="username">{{ usuario.username }}</div>
        <div class="name">{{ usuario.name }}</div>
        <p class="bio">{{ usuario.bio }}</p>
        <div class="additional-info">
            <p>Email: {{ usuario.email }}</p>
            <!-- adicione informações que desejar mostrar na bio -->
        </div>
        <div>
            <a href="{% url 'editar_info' %}" class="btn btn-primary">Editar informacoes</a>
        </div>
        <br>
        <div>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Voltar</a>
        </div>

    </div>
    
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ photo_form.image }}
            <p><button type="submit">Adicionar foto na Galeria</button></p>
        </form>
    </div>

    <div>
        <button id="mostrarGaleriaBtn" onclick="mostrarGaleria()">Galeria</button>
    </div>
       
    <div class="galeria-container" id="galeria" style="display: none;">
        {% for photo in photos %}
            {% if photo.image %}
                <img src="{{ photo.image.url }}" alt="Photo">
            {% endif %}
        {% endfor %}
    </div>

    <script>
        // botão de carregar foto
        document.getElementById('carregar-foto-btn').addEventListener('click', function() {
            document.querySelector('form').style.display = 'block';
        });
    
        // botão de editar informações
        document.getElementById('editar-informacoes').addEventListener('click', function() {
            document.getElementById('form-editar-informacoes').style.display = 'block';
            this.style.display = 'none';
        });
    
        // botao para trocar a foto de perfil
        function mostrarBotoes() {
            var botoesEditarPerfil = document.getElementById('botoesEditarPerfil');
            if (botoesEditarPerfil.style.display === 'none' || botoesEditarPerfil.style.display === '') {
                botoesEditarPerfil.style.display = 'block';
            } else {
                botoesEditarPerfil.style.display = 'none';
            }
        }
    
        // botão para mostrar a galeria
        function mostrarGaleria() {
            var galeria = document.getElementById('galeria');
            if (galeria.style.display === 'none' || galeria.style.display === '') {
                galeria.style.display = 'block';
            } else {
                galeria.style.display = 'none';
            }
        }
    </script>
</body>
</html>