<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post }}</title>
</head>
<body>

    <h1>{{ post }}</h1>
    <img src="{{ post.photo.image.url }}">
    <p>{{ post.conteudo }}</p>

    <form method="post" action="{% url 'adicionar_comentario' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar Comentário</button>
    </form>
    
    <!-- Renderizar os comentários existentes -->
    {% for comentario in post.comentarios.all %}
        <div class="avatar-container">
            {% if comentario.autor.photo %}
                <img class="avatar" src="{{ comentario.autor.photo.url }}" alt="Avatar" style="margin-right: 10px;">
            {% else %}
                <div class="avatar no-photo"></div>
            {% endif %}
        </div>
        <p>{{ comentario.autor.username }}: {{ comentario.texto }}</p>
    {% endfor %}
</body>
</html>